extends ./layout/index

block contenido 
  main.container.mt-5 
    .row
      .col-md-5 
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1= pagina 
        blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt omnis est fugiat quia quasi, tenetur id itaque. Est itaque dolorem aliquid ex fugiat laboriosam repellat delectus sed temporibus! Reiciendis, accusantium?

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos distinctio culpa iste harum consequatur facilis autem vel corrupti explicabo minima excepturi nesciunt quod non inventore, saepe assumenda aliquid nihil possimus!

        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam exercitationem magnam perspiciatis alias dignissimos. Quos aperiam ratione velit sunt tempore ut repellat voluptas excepturi, placeat iure, ullam temporibus? Quam, rerum.

  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi ad, amet consequuntur et ullam rem vero omnis similique quaerat reiciendis ratione doloribus culpa dolorem quod sapiente facilis repellendus cupiditate? Voluptates.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi ad, amet consequuntur et ullam rem vero omnis similique quaerat reiciendis ratione doloribus culpa dolorem quod sapiente facilis repellendus cupiditate? Voluptates.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi ad, amet consequuntur et ullam rem vero omnis similique quaerat reiciendis ratione doloribus culpa dolorem quod sapiente facilis repellendus cupiditate? Voluptates.
